div,ul,ol,li,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}

html {
	background-color:#733636;
}

body {
	background-color:#f2fafb;
	width:730px;
	margin-left:auto;
	margin-right:auto;
}
h1 {
	color:#aa4141;
	text-align:center;
	font-size:36px;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-weight:bold;
}
p {
	font-size:18px;
	color:#600;
}
h2 {
	margin-left:30px;
	color:#4e2424;
}
img#logo {
	position:absolute;
	margin-left:-120px;
	margin-top:50px;

}
ul li{
	margin-bottom:30px;
	color:#cc0505;
	width:80%;
	text-align:justify;
	padding-right:50px;
	margin-left:auto;
	margin-right:auto;
}